<!DOCTYPE html>
<html>
<head>
  <title>DECKSTER</title>
  <%= render '/layouts/head' %>
</head>
<body class="view-mode standalone">

<%= render '/layouts/navbar' %>
<div class="heading">
  <div id="content" class="container">
    <div class="deckster-deck-container">
      <li class="deckster-card" data-col="4" data-row="1" data-sizex="4" data-sizey="6" data-title="<%= params[:title] %>">
        <div class="deckster-card-title">
          <%= params[:title] %>
        </div>
        <div class="deckster-controls">
        </div>
        <div class="content">
          <%= yield %>
        </div>
      </li>
    </div>
  </div>
</div>

</body>
</html>
